{% extends "orders/base.html" %}

{% block title %} Detail {% endblock %}
{% block content %}
    <h1>Order Details - {{ order.order_id }}</h1>
    <p>Table Number: {{ order.table_number }}</p>
    <p>Status: {{ order.status }}</p>
    <p>Total Price: {{ order.total_price }}$</p>
    <p>Created At: {{ order.created_at }}</p>

<h2>Dish Details</h2>
<table>
    <thead>
        <tr>
            <th>Dish Name</th>
            <th>Price Per Unit</th>
            <th>Quantity</th>
        </tr>
    </thead>

   <tbody>
   {% for item in order.orderitems_set.all %}
       <tr>
           <td>{{ item.dish.dish_name }}</td>
           <td>{{ item.dish.price }}</td>
           <td>{{ item.quantity }}</td>
       </tr>
       {% empty %}
       <tr>
           <td colspan="4">No dishes in this order</td>
       </tr>
   {% endfor %}
   </tbody>
</table>
    <br> <br>
<form method="post" action="{% url 'delete_order' order.order_id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete this order</button>
</form>

{% endblock content %}